body {
  background-color: #ffffff;
  font-family: "Ropa Sans", sans-serif;
  color: #3d3e3b;
  font-size: 1.2em;
}

#hero {
  background: url("../images/pexels-photo.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  height: 100vh;
}

.nav-div {
  width: 22rem;
}

.nav-bar {
  z-index: 1;
  width: 95%;
  font-size: 1.2em;
  font-weight: 600;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-brand {
  font-family: "Staatliches", cursive;
  letter-spacing: 4px;
}

.heading-1 {
  letter-spacing: 0.8rem;
  font-size: 4.2rem;
  font-family: "Staatliches", cursive;
  background-color: white;
  color: #333333;
  opacity: 0.8;
}

.nav-bar a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
.heading-2 {
  color: #ffffff;
  font-size: 2.4rem;
  font-family: "Staatliches", cursive;
}

.img-bio {
  width: 18rem;
  height: 19rem;
}

.bg-img {
  width: 18rem;
  height: 23rem;
  border: 1rem solid #28313e;
}

.section-3 {
  background-color: #f7f7f7;
}

.sec3-col {
  background-color: #ffffff;
}

.heading2-sec3 {
  position: relative;
  font-family: "Bree Serif", serif;
  color: #2b2828;
}

.h2-sec3 {
  border-bottom: 3px solid #0078ff;
  padding-bottom: 3px;
}

#p-img2 {
  background: url("../images/pexels-photo-169573.jpeg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  height: 80vh;
}

.heading1-sec4 {
  font-family: "Satisfy", cursive;
  font-size: 2.2rem;
  color: #ffffff;
}

.col-sec4 {
  background-color: rgba(0, 0, 0, 0.733);
  padding: 1rem;
}

.heading5-sec3 {
  font-family: "Bree Serif", serif;
  color: #2b2828;
}
.img-sec5 {
  height: 190px;
}

.section-6 {
  background-color: #f7f7f7;
}

.sec6-ul {
  line-height: 2rem;
}

ion-icon {
  font-size: 30px;
}

.section-7 {
  background-color: #424242;
}

.ion-sec7 {
  color: #0073b1;
}

.sec7-p {
  color: #ffffff;
  font-size: 1rem;
}
.icon-sec7 {
  color: #ffffff;
  padding: 3px;
}
.bg-trans {
  background-color: transparent;
}

@media (max-width: 768px) {
  /* section1 */
  #hero {
    background-attachment: scroll;
  }

  .heading-1 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }

  /* section2 */
  .img-bio {
    width: 15rem;
    height: 15rem;
  }

  .bg-img {
    width: 17rem;
    height: 17rem;
    border: 1rem solid #28313e;
  }
}
