#hero{
    background: url('../images/pimg1.jpeg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      
    background-attachment: fixed;

    height: 100vh;
}

.heading-1{
    color: #ffffff;
    font-size: 4.2em;
}
.heading-2{
    color: #ffffff;
    font-size: 2.4em;
}