body{
    background-color: #dddddd;
}

#hero{
    background: url('../images/pimg1.jpeg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      
    background-attachment: fixed;

    height: 100vh;
}

.heading-1{
    color: #ffffff;
    font-size: 4.2em;
    font-family: inherit;
}

.heading-2{
    color: #ffffff;
    font-size: 2.4em;
    font-family: inherit;
}

.img-bio{
    width: 18rem;
    height: 25rem;

}

.bg-img{
    width: 18rem;
    height: 25rem;
    border: 1rem solid white;
}

@media (max-width: 385px){
    .img-bio{
        width: 15rem;
        height: 18rem;
    }
    .bg-img{
        width: 15rem;
        height: 18rem;
        border: none;
    }
}